*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: sans-serif;
}

/* general three block layout */
.flex-container{
    display: flex;
}

nav{
    width: 230px;
    flex-shrink: 0;

    transition: width 0.3s;
    background-color: black;
}

main{
    height: calc(100vh - 90px); /* offset for the fixed player at the bottom */
    flex-grow: 1;

    padding-top: calc(90px + 20px); /* offset for the upgrade banner + padding */
    padding-left: 20px;
    padding-right: 20px;

    background-color: #141922;
    overflow-y: auto;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    height: 90px;
    background-color: #282828;    
}
/* end general three block layout */

/* upgrade banner */
aside{
    height: 90px;
    width: 100%;
    
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade{
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 15px 40px;
    border: 1px solid white;
    border-radius: 25px;

    font-size: 0.8em;
    font-weight: bold;
    color: white;
}
/* end upgrade banner */

/* secondary menu */
ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

    margin-bottom: 40px;

    list-style: none;
    font-size: 0.8em;
    font-weight: bold;
    color: #797B80;
}
/* end secondary menu */

/* style for all sections */
section h2{
    font-size: 1.5em;
    color: white;
}

/* track titles */
section h3{
    margin-bottom: 10px;
    font-size: 1em;
    color: white;
}

/* sub-titles */
section h4{
    margin-top: 0.8em;
    font-size: 0.8em;
    color: #797B80;
}

.row{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    
    margin: 30px 0;
    transition: gap 0.3s;
}

.card{
    /* height: 275px; */
    width: calc(100% / 6 - 15px);
    min-width: 140px;
    
    text-align: center;
}

.card img{
    width: 100%;
    margin-bottom: 20px;
}

/* popolar artists */
.card .artist{
    border-radius: 50%;
}

/* media queries */
@media screen and (max-width:1200px) {
    .row{
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .card{
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width:576px){
    nav{
        width: 50px;
    }
}