*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: sans-serif;
}

/* general three block layout */
.flex-container{
    display: flex;
}

nav{
    width: 230px;
    height: calc(100vh - 90px);
    flex-shrink: 0;

    transition: width 0.3s;
    background-color: black;
}

main{
    height: calc(100vh - 90px); /* offset for the fixed player at the bottom */
    flex-grow: 1;

    padding-top: calc(90px + 20px); /* offset for the upgrade banner + padding */
    padding-left: 20px;
    padding-right: 20px;

    background-color: #141922;
    overflow-y: auto;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    height: 90px;
    background-color: #282828;    
}
/* end general three block layout */

/* navbar */
nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    padding: 20px;
    font-size: 0.8em;
    color: white;
}

/* general list and link styles */
nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    
    filter: opacity(50%);
}

nav a.selected{
    filter: opacity(100%);
    position: relative;
}

nav a.selected::before{
    content: "";
    height: calc(100% + 10px);
    width: 3px;
    background-color: #ADFF2F;
    position: absolute;
    left: -20px;
}

nav a:hover{
    filter: opacity(100%)
}
/* end general list and link styles */

.logo{
    height: 40px;
    scale: 1;
    transition: scale 0.3s;
}

.logo-small{
    display: none;
}

/* main nav buttons */
.menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.menu img{
    width: 22px;
}

.menu a{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
/* end main nav buttons */

/* playlist section */
.playlists{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-y: auto;
    max-width: 100%;
    transition: max-width 0.3s;
}

.playlist-button a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.playlist-button .fa-solid{
    font-size: 40px;
}

#playlists{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#playlists a{
    text-decoration: none;
}
/* end playlist section */


/* user */
.user{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.app{
    display: flex;
    gap: 10px;
}

.app img{
    max-width: 12px;
}

.user-profile{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

.user hr{
    opacity: 50%;
}

.user-profile img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    
    border-radius: 50%;
    background-color: #808080;
}
/* end user */
/* end navbar */


/* upgrade banner */
aside{
    height: 90px;
    width: calc(100% - 230px);
    
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.3s;
}

.upgrade{
    position: absolute;
    top: 20px;
    right: 35px;

    padding: 15px 40px;
    border: 1px solid white;
    border-radius: 25px;

    font-size: 0.8em;
    font-weight: bold;
    color: white;

    transition: scale 0.3s;
}

.upgrade:hover{
    cursor: pointer;
    scale: 1.1;
}
/* end upgrade banner */

/* secondary menu */
main ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

    margin-bottom: 40px;

    list-style: none;
    font-size: 0.8em;
    font-weight: bold;
}

main ul a{
    color: white;
    text-decoration: none;
    opacity: 50%;
}

main ul a:hover{
    opacity: 100%;
}

.active{
    position: relative;
}

.active::after{
    content: "";
    width: 40%;
    height: 2px;
    
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 100%;

    background-color: #ADFF2F;
}
/* end secondary menu */

/* styles for all main sections */
section h2{
    font-size: 1.5em;
    color: white;
}

/* track titles */
section h3{
    margin-bottom: 10px;
    font-size: 1em;
    color: white;
}

/* sub-titles */
section h4{
    margin-top: 0.8em;
    font-size: 0.8em;
    color: #797B80;
}

.row{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    
    margin: 30px 0;
    transition: gap 0.3s;
}

.card{
    /* height: 275px; */
    width: calc(100% / 6 - 15px / 6 * 5);
    min-width: 140px;
    position: relative;
    text-align: center;
}

.cover{
    margin-bottom: 20px;
    position: relative;
}

.cover img{
    width: 100%;
    transition: filter 0.3s;
}

.card:hover{
    cursor: pointer;
}

.card:hover img{
    filter: brightness(0.5);
}

.card .fa-circle-play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 70px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .fa-circle-play{
    opacity: 1;
}

/* popolar artists */
.card .artist{
    border-radius: 50%;
}
/* end styles for all main sections */

/* basic footer block layout */
footer .flex-container{
    justify-content: space-between;
    height: 90px;
}

.ft-item{ 
    min-width: 180px;
    width: 30%;

    display: flex;
    align-items: center;
    padding: 0 10px 10px;
}
/* end basic footer block layout */

/* track info */
.ft-item.left{
    gap: 10px;
}

.track-info{
    width: 20%;
    min-width: 60px;
}

.track-artist{
    font-size: 0.9em;
    font-weight: bold;
    color: white;
}

.track-title{
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    opacity: 50%;
}

.track-title:hover{
    cursor: pointer;
    opacity: 100%;
    text-decoration: underline;
}

.ft-icons{
    display: flex;
    gap: 0.5em;
    color: white;
}

.fa-heart, .fa-folder{
    filter: opacity(50%);
}

.fa-heart:hover, .fa-folder:hover{
    cursor: pointer;
    filter: opacity(100%);
}

.ft-item.left img{
    max-width: 42px;
}
/* end track info */

/* music player */
.ft-item.center{
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    width: 40%;
    color: white;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-size: 1.3em;
}

.player .fa-circle-play{
    margin: 10px;
    font-size: 1.5em;
    transition: scale 0.1s;
    cursor: pointer;
}

.player .fa-circle-play:hover{
    scale: 1.1;
}

.play-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.track{
    flex-grow: 1;
    flex-basis: 0;
}

#track{
    height: 4px;
    border-radius: 2px;
    background-color: #797B80;
    position: relative;
}

.track-progress{
    position: absolute;
    width: 25%;
    height: 4px;
    background-color: white;
}

.timecode{
    font-size: 0.8em;
    font-weight: bold;
}
/* end music player */

/* footer right side buttons */
.ft-item.right{
    justify-content: right;
    gap: 1em;
    color: white;
}

#vol-track{
    flex-grow: 1;
    max-width: 30%;
    height: 4px;
    position: relative;  
    border-radius: 2px;
    background-color: #797B80;
}

.vol-setting{
    width: 25%;    
    height: 4px;
    position: absolute;
    border-radius: 2px;
    background-color: white;
}
/* end footer right side buttons */

/* track and volume decoration */
.track:hover, #vol-track:hover{
    cursor: pointer;
}

.track:hover .track-progress, #vol-track:hover .vol-setting{
    background-color: #ADFF2F;
    border-radius: 2px;
}

.track:hover .track-progress::after, #vol-track:hover .vol-setting::after{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 8px;
    border-radius: 50%;
    background-color: white;
}
/* end track and volume decoration */

/* media queries */
@media screen and (max-width:1200px) {
    .row{
        gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .card{
        width: calc(100% / 2 - 10px * 2);
    }

    /* media player */
    .ft-icons{
        flex-direction: column;
    }
}

@media screen and (max-width:576px){
    /* resizes nav and hides large items */
    nav{
        width: 50px;
        padding: 5px 10px;
        align-items: center;
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: block;
        height: 30px;
    }

    .playlists{
        max-width: 0;
    }

    .mobile-vanish{
        display: none;
    }

    .app{
        justify-content: center;
    }
    
    aside{
        width: calc(100% - 50px);
    }
}